<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.mtcnn_insightface">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- <uses-permission android:name="android.permission.CAMERA" /> -->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.mtcnn_insightface.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity android:name=".FaceRecognitionActivity" />
        <activity
            android:name=".FileOperationActivity"
            android:launchMode="singleTask" />
        <activity android:name=".ShowFaceActivity" />
        <activity android:name=".FaceMapActivity" />
        <activity android:name=".FreeMatchActivity" />
        <activity android:name=".SingleMatchActivity" />
        <activity android:name=".DoubleCalcSimActivity" />
        <activity android:name=".TestDataSetActivity"></activity>
    </application>

</manifest>